

body{
    background-color: #1e1f26; 
    font-family: "Montserrat", sans-serif; 
    color: #03dac6;
}


.navbar{
    background-color: #1e1f26;
    display: flex;
    flex-wrap: wrap;
    font-size: 25px;
    justify-content: space-between; 
    padding: 25px; 
    box-shadow: 0px 1px 80px rgba(0, 0, 0, 0.795);
    border-style:  groove hidden ridge;
    border-color: #03dac55b;

}

.navbar a:hover{
    color: #ff0266;
    font-size: 27px;
   
}

/* LINKS DA BARRA DE NAVEGAÇÃO v */
.navbar a{
    text-decoration: none; 
    color: #03dac6;
    text-shadow: 8px 10px 10px rgba(0, 0, 0, 0.717);
    font-weight: bold;
    
    
}

/* FOTO DE PERFIL */

.foto{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0px;
}

img{
    border-radius: 50%;
    transform: scale(0.8);
    box-shadow: 0px 9px 40px #000000;
 }

/* NOME E SUBTITULO */ 
.nome{
    margin-top: 0px;
    text-align: center;
    text-shadow: 8px 10px 10px rgba(0, 0, 0, 0.717);
    padding: 5px;
    margin-bottom: 100px;
}

.contatos{
    text-align: center;
    
}



/* ABA DE DADOS PESSOAIS */ 

.dadospessoais{
    box-shadow: 0px 30px 30px #000000;
    padding: 45px;
    border-style: outset;
    border-color: #03dac6;
    margin-bottom: 30px;
}

/* ABA DE DADOS PROFISSIONAIS */ 

.experprofissional{
    box-shadow: 0px 30px 30px #000000;
    padding: 45px;
    border-style: outset;
    border-color: #03dac6;
    margin-bottom: 30px;
}

/* ABA DE FORMAÇÃO ACADEMICA */ 

.escolar{
    box-shadow: 0px 30px 30px #000000;
    padding: 45px;
    border-style: outset;
    border-color: #03dac6;
    margin-bottom: 30px;
}

/* ABA DE SKILLS */ 

.skill{
    box-shadow: 0px 30px 30px #000000;
    padding: 45px;
    border-style: outset;
    border-color: #03dac6;
    margin-bottom: 30px;
}

/* ABA SOBRE MIM */

.sobremim{
    box-shadow: 0px 30px 30px #000000;
    padding: 45px;
    border-style: outset;
    border-color: #03dac6;
    margin-bottom: 30px;
}



i{
    color: #03dac6;
    font-size: 30px;
    display: inline;
    padding: 10px;

}

i:hover{
    color: #ff0266;
    font-size: 39px;
}

